<div class="release release-<%=: release.id | normalize %>">
	<div class="albumart">
		<img src="/images/placeholder.jpg" />
	</div>
	<div class="info">
		<span class="id"><%= release.id %></span>
		<span class="title"><%= release.title %></span>
		<span class="date"><%= release.date %></span>
		<span class="country"><%= release.country %></span>
		<span class="barcode"><%= release.barcode %></span>
		<span class="packaging"><%= release.packaging %></span>
	</div>
	<div class="mediums">
	</div>
</div>
